In [ ]:
from datascience import *
import numpy as np

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture slides at hand so that you can go over the discussion along with the code. Thank you!

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged, just like when we call show/select/drop on Table

In [ ]:
another = make_array(5, 6, 7, 8)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
str_array = make_array('ha', 'he', 'ho')

In [ ]:
str_array * 4

In [ ]:
sum(my_array)

In [ ]:
np.average(my_array)

In [ ]:
len(my_array)

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')

In [ ]:
warriors = nba.where('TEAM', 'Golden State Warriors')

In [ ]:
warriors

In [ ]:
warriors.select('SALARY')

In [ ]:
warriors.column('SALARY')

In [ ]:
np.average(warriors.column('SALARY'))

In [ ]:
raptors = nba.where('TEAM', 'Toronto Raptors')

In [ ]:
np.average(warriors.column('SALARY')) - np.average(raptors.column('SALARY'))