In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Cross Classification

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
all_cones = Table.read_table('cones.csv')
all_cones

In [ ]:
all_cones.group('Flavor')

In [ ]:
all_cones.groups(make_array('Flavor', 'Color'))

In [ ]:
all_cones.groups(make_array('Flavor', 'Color'), max)

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabel(3, 'SALARY')
nba

In [ ]:
nba.drop(0).groups(make_array('TEAM', 'POSITION'), np.average)

In [ ]:
nba.drop(0, 2).group('POSITION', np.average)

In [ ]:
full_table = Table.read_table('educ_inc.csv')
ca_2014 = full_table.where('Year', are.equal_to('1/1/14 0:00')).where('Age', are.not_equal_to('00 to 17')).drop(0).sort('Population Count')
ca_2014

In [ ]:
no_ages = ca_2014.drop(0)
no_ages

In [ ]:
no_ages.groups(make_array(0, 1, 2), sum)